<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="footer">
        <footer>
            <div class="container">
                <p>
                    &copy; valpro.com
                    <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                    | Logged user: <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span> |
                    <a th:href="@{/logout}">Sign Out</a>
                </span>
                </p>
            </div>
        </footer>
        <script th:src="@{/static/scripts/jquery-3.3.1.min.js}"></script>
        <script th:src = "@{/static/js/bootstrap.js}"></script>
    </th:block>
</body>
</html>