<!DOCTYPE HTML>
<html xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/layout">
<head>
    <script type="text/javascript" th:src="@{/static/js/pages/main.js}"></script>
</head>
<body>
<!--<div th:replace="fragments/header :: header"></div>-->
<div layout:fragment="content" th:remove="tag">
    <div class="starter-template" style="text-align: left">
        <h1>普通用户页面 (受 Spring Security 保护, 需要用户权限)</h1>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-danger" value="登出"/>
        </form>
    </div>
</div>
</body>
</html>