<!DOCTYPE HTML>
<html xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/layout">
<head>
    <script type="text/javascript" th:src="@{/static/js/pages/main.js}"></script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="starter-template" style="text-align: left">
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <table class="table table-hover table-condensed">
            <legend>
                <strong>数据列表</strong>
            </legend>
            <thead>
            <tr>
                <th>ID</th>
                <th>库存点代号</th>
                <th>储位</th>
                <th>货色号</th>
                <th>尺寸</th>
                <th>库存量</th>
                <th>在途量</th>
                <th>预移入量</th>
                <th>预移出量</th>
                <th>预批出量</th>
                <th>创建人</th>
                <th>创建时间</th>
                <th>最后修改人</th>
                <th>最后修改时间</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stock : ${mdStocks}">
                <th scope="row"><a data-toggle="modal" data-target="#myModal" th:text="${stock.id}"> </a></th>
                <td th:text="${stock.mdpotno}"></td>
                <td th:text="${stock.storageno}"></td>
                <td th:text="${stock.product}"></td>
                <td th:text="${stock.mdsize}"></td>
                <td th:text="${stock.stkqty}"></td>
                <td th:text="${stock.onwayqty}"></td>
                <td th:text="${stock.ptrinqty}"></td>
                <td th:text="${stock.ptroutqty}"></td>
                <td th:text="${stock.pwhsoutqty}"></td>
                <td th:text="${stock.createdBy}"></td>
                <td th:text="${stock.creationDate}"></td>
                <td th:text="${stock.lastUpdateBy}"></td>
                <td th:text="${stock.lastUpdateDate}"></td>
                <td th:text="${stock.remark}"></td>
                <td><a class="btn btn-danger" th:href="@{/user/delete/{stockId}(stockId=${stock.id})}">删除</a></td>
            </tr>
            </tbody>
        </table>
        <form th:action="@{/logout}" method="post">
            <input id="referrer" type="text" name="referrer" class="form-control" style="display: none">
            <input type="submit" class="btn btn-danger" value="登出"/>
        </form>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改主档信息：
                    </h4>
                </div>
                <div class="modal-body">
                    在这里添加一些文本
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary">
                        提交更改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script>
        if (document.referrer != ''||document.referrer===undefined||document.referrer===null) {
            // 没有来源页面信息的时候，改成首页URL地址
            /*$('.jsBack').attr('href', '/');*/
            $('#referrer').val(document.referrer);
        }
    </script>
</div>
</body>
</html>